.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}
.card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);
    -moz-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
}



#title1{
    font-size: 45px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}
.title2{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 55%;
    color: #FFFFFF;
}
.top{
    background-color: #A3C8E1;/*#BAD6E7;/*#2C8FFF;*/
    width:95%;
    margin:0 auto;
}
.nottitlecenter{
    text-align: left;
    padding-left: 1%;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}
.entrytitle{
    text-align: left;
    padding-left: 25%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}
.projdescrip{
    display: inline;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}
.entrycontent{
    text-align: left;
    padding-left: 35%;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

.exp{
    width: 95%;
    background-color: #8DB7D4;/*#9CC5E0;/*#479DFF;*/
    margin:0 auto;
}
.proj{
    width: 95%;
    background-color: #82ACCA;/*#84B3D2;/*#479DFF;*/
    margin:0 auto;
}
.projspace{
    margin-bottom: 1cm;
}
.awa{
    width: 95%;
    background-color: #729AB6;/*#719DBB;/*#66ADFE;*/
    margin:0 auto;
}
.edu{
    width: 95%;
    background-color: #6289A5;/*#668BA4;/*#94C6FF;*/
    margin:0 auto;
}
.contact{
    width: 95%;
    background-color: #4F728B;/*#557387;/*#B9D9FF;*/
    margin:0 auto;
}

body{
    padding:0px;
    margin:0px;
    background-color: #B9B9B9;
}
.titletop{
    margin-top: 30px;
}
.container{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}




#thumbs {
    margin-bottom: 1%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#thumbs div{
    text-align: center;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: center;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.imgcontainer {
    height: 80px;
    line-height: 95px;
}

.imgcontainer img {
    vertical-align: middle;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.imgcontainer:hover img{
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.btndiv{
    vertical-align: middle;
    height:100%;
}
a.button{
    width: 150px;
    height: 40px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    text-align: center;
    line-height:35px;

    -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
}
a.button:hover {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.resume{
    padding-top:15px;
}

a.proj:link  {text-decoration: none; color: #FFFFFF;}
a.proj:hover {text-decoration: none; color: #4B4B4B;}
a.proj:active {text-decoration: none; color: black;/*#5A5A5A;*/}

a.git:link {text-decoration: none; color: black;}
a.git:active {text-decoration: none; color:#5A5A5A;}

a.jlink:link {text-decoration: line; color: #4B4B4B;}