
/*
#top{
    background-color: #ADADAD;
    height: 80px;
    display:flex;
    align-items: center;
}*/


.name{
    font-size: 25px !important;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    margin-bottom: 0;
}

.navbar-default {
    background-image: none;
    background-color: #E2E2E2;
}

.tile{
    background-color: #F1F1F1;
    display: none;

    width:100%;
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;

    position:relative;
}


.exptitle{
    text-align: left;
    padding-left: 25%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #3C3C3C;/*#FFFFFF*/
}

.expcontent{
    text-align: left;
    padding-left: 35%;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #3C3C3C;/*#FFFFFF*/
}

.picdiv{
    float:left;

    position:absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.title{

    background-color: #F1F1F1;

    width:100%;
    margin-top: 0px;
    padding-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;

    position:relative;
}

.titlecontent{
    text-align: left;
    padding-left: 15%;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    olor: #3C3C3C;
}

.githubtitle{
    text-align: left;
    padding-left: 10%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #3C3C3C;/*#FFFFFF*/
}



.first-box{
padding:10px;
background:#9AE084;/*#9C0;*/
display:none;
}

.second-box{
padding:10px;
background:#74AAEE;/*#39F;*/
display:none;
}

.third-box{
padding:10px;
background:#DE8383;/*#F66;*/
display:none;
}

.fourth-box{
padding:10px;
background:#D9D87C;/*#66D2D6;/*#6CC;*/
display:none;
}